
{% extends "layout.html" %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <title>FPS Stats</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <script src="{{url_for('static', filename='script.js')}}"></script>
</head>

<body>
    <div style="border-style: solid; 
                border-radius: 40px;
                position: relative;
                margin: auto;
                top: 20px;
                width: 50%;
                background-color: white;
                ">        
        <h1 style="margin-left: 20px; margin-top: 20px; margin-right: 20px">Hello! Input a Fortnite username</h1>
        <form action="/action_page.php">
            <label style="margin-left: 20px; margin-top: 20px;" for="fname">Username:</label>
            <input style="margin-left: 20px; resize:horizontal; width:50%" type="text" id="usern" name="usern"><br><br>
            <h2 style="margin-left: 20px; resize:horizontal; width:50%">Pick the timeframe</h2>
            <button type="button" class="btn btn-primary" style="margin-left: 20px; resize:horizontal; width:30%" onclick="timeFrame = 0">Current season</button> <button type="button" class="btn btn-primary" style="margin-right: 20px; margin-left: 20px; resize:horizontal; width: 30%;" onclick="timeFrame = 1">Lifetime</button> <br>
            <button type="button" onclick=getInput() class="btn btn-dark" id="enterBtn" style="margin-left: 20px; margin-bottom: 20px; margin-top: 60px; resize:horizontal; width:50%">Enter</button>
        </form>
    </div>
    <div style="
                border-style: solid; 
                border-radius: 10px;
                position: relative;
                margin: auto;
                top: 20px;
                width: 50%;
                margin-top: 40px;
                background-color: white;"
        id = resultDiv>
        <h style="margin-bottom: 40px;" id="responseStatus"></h>
    </div>
</body>

{% endblock %}

</html>